<div class="container">
  <div class="row border-card">
    <div class="col">Commission Amount:</div>
    <div class="col">{{ commission | currency : 'INR' }}</div>
    <div class="w-100"></div>
    <div class="col">Total Cans:</div>
    <div class="col">{{ totalCount }}</div>
    <div class="w-100"></div>
    <div class="col">Online Payment:</div>
    <div class="col">{{amountRecieved | currency : 'INR' }}</div>
    <div class="w-100"></div>
    <div class="col">Amount Due:</div>
    <div class="col">{{getAmountDue() | currency : 'INR' }}</div>
  </div>
</div>
<div class="table-responsive-sm mt-3">
  <h6>Advance Received Users:</h6>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Apartment</th>
        <th scope="col">Block</th>
        <th scope="col">Door.No</th>
        <th scope="col">Cans</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{ genericService.getUserFirstNameById(order.userId) }}</td>
        <td>{{ order.address.apartment }}</td>
        <td>{{ order.address.block }}</td>
        <td>{{ order.address.doorNumber }}</td>
        <td>{{ order.advanceCan }}</td>
      </tr>
    </tbody>
  </table>
  <div class="display_table_center" *ngIf="orders.length">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="orders.length"></ngb-pagination>
  </div>
</div>