<header>
  <nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark fixed-top bg- bg-primary">
    <a class="navbar-brand" (click)="goToDashboard();">
      <span class="logo">Embassy</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto" *ngIf="authService.isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-orders" (click)="toggleCollapsed()" routerLinkActive="active">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-details" (click)="toggleCollapsed()" routerLinkActive="active">My Wallet & Pendings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-action="share/whatsapp/share" target="_blank" href="{{whatsappShare}}">Share & Earn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-action="share/whatsapp/share" target="_blank" href="{{contactUs}}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="authService.isAdminLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard" (click)="toggleCollapsed()" routerLinkActive="active">Current Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/pending-amount" (click)="toggleCollapsed()" routerLinkActive="active">Pending Amount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/pending-can" (click)="toggleCollapsed()" routerLinkActive="active">Pending Cans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/all-orders" (click)="toggleCollapsed()" routerLinkActive="active">Recent Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/advance-commission" (click)="toggleCollapsed()" routerLinkActive="active">Advance & Commissions</a>
          </li>
        <li class="nav-item" *ngIf="authService.isSuperAdminLoggedIn">
          <a class="nav-link" routerLink="/admin/my-customers" (click)="toggleCollapsed()" routerLinkActive="active">My Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-action="share/whatsapp/share" target="_blank" href="{{whatsappShare}}">Share & Earn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>