<div class="table-responsive-sm">
  <h6>My Orders</h6>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Product</th>
      <th scope="col">Qty</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.date.seconds * 1000 | date:'dd/MM/yyyy' }}</td>
      <td>{{ getProductById(order.productId) }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.total | currency : 'INR' }}</td>
      <td>{{ getOrderStatus(order) }}</td>
      <td><a title="Edit Order" [routerLink]="['/edit-order', order.id]" *ngIf="!order.isDelivered && !order.isCancelled">
        <i class="fa fa-edit icon-font"></i>
      </a></td>
      <td><a title="Cancel Order" (click)="cancelOrder(order.id)" *ngIf="!order.isDelivered && !order.isCancelled">
          <i class="fa fa-times-circle icon-font"></i>
      </a></td>
    </tr>
  </tbody>
</table>
<p-paginator [rows]="10" [totalRecords]="orders.length"></p-paginator>
</div>