<div class="table-responsive-sm">
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Product</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.date.seconds * 1000 | date:'dd/MM/yyyy' }}</td>
      <td>{{ getProductById(order.productId) }}</td>
      <td>{{ getOrderStatus(order) }}</td>
      <td><a title="Edit Order" [routerLink]="['/edit-order', order.id]" *ngIf="!order.isDelivered && !order.isCancelled">
        <i class="fa fa-edit icon-font"></i>
      </a></td>
      <td><a title="Cancel Order" (click)="cancelOrder()" *ngIf="!order.isDelivered && !order.isCancelled">
          <i class="fa fa-times-circle icon-font"></i>
      </a></td>
    </tr>
  </tbody>
</table>
</div>