<div class="table-responsive-sm">
    <h6>Pending Cans</h6>
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Block</th>
          <th scope="col">Door.No</th>
          <th scope="col">Cans</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <ng-container *ngIf="getPendingCan(order.userId)">
          <td>{{ genericService.getUserFirstNameById(order.userId) }}</td>
          <td>{{ order.address.block }}</td>
          <td>{{ order.address.doorNumber }}</td>
          <td>{{ getPendingCan(order.userId) }}</td>
          <td>
              <a title="Edit Order" (click)="open(content, getPendingCan(order.userId), order.userId)">
                  <i class="fa fa-edit icon-font"></i>
                </a>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <div class="display_table_center" *ngIf="orders.length && isPendingCan">
        <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="orders.length"></ngb-pagination>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header header">
          <h6 class="modal-title" id="modal-basic-title">Update Delivery</h6>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
          <div class="modal-body">
            <section class="margin-top-bottom">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col">Pending Can</div>
                      <div class="col-7">
                        <div class="input-group w-75">
                          <span class="input-group-btn">
                            <button type="button" [disabled]="model.return <= 0" [ngClass]="{'disabled': model.return <= 1 }" (click)="manageReturn(0)"
                              class="btn btn-outline-primary btn-sm" data-type="minus" data-field="">
                              <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                          </span>
                          <input type="text" id="return" [readonly]=true [(ngModel)]="model.return" name="return" class="center increasebutton form-control disabled"
                            value="0">
                          <span class="input-group-btn">
                            <button type="button" (click)="manageReturn(1)" class="btn btn-outline-primary btn-sm" data-type="plus" data-field="">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
    
            </section>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-primary">Save</button>
          </div>
        </form>
      </ng-template>
  </div>