<div class="card split" *ngFor="let product of products">
  <div class="view overlay">
    <img src="../../assets/images/{{product.url}}" class="card-img-top">
    <a routerLink="/dashboard">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">
        {{product.description}}
    </p>
    <h5 class="card-text">
      {{product.price | currency : 'INR'}}
    </h5>
    <a routerLink="/order-details/{{product.id}}" class="btn btn-outline-primary float-right pointer">
      Buy
    </a>
  </div>
</div>