/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    padding-top: 75px !important;
}
.pointer {
    cursor: pointer !important;
}
.clearfix{
    clear: both;
}
.display_table_center {
    display: table;
    margin: 0 auto;
}
.pd-lr-5 {
    padding: 0 5px !important;
}
.w-75 {
    width: 80% !important;
}